/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    background: url(wallet.jpg) no-repeat;
    background-size: auto;
    background-position: auto;
    font-family: sans-serif;
}
*{
	margin: 0px; 
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box; 
}




































































