<header>
        <img src="wallet.png" class="img-logo">
        <input type="checkbox" id="check">
        <label for="check" class="icon-menu"></label>
        
        <nav class="menu">
            <ul>
                <li><a href="#" style="background:#df6666;color:white;">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Trabajos</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="content-one">
            <div class="content-portada">
                <div class="content-item1">
                    <h4>Bienvenido a WALLET<h3>Controla tus gastos</h3> </h4>
                    <h2>de la mejor manera</h2>
                </div>
            </div>
        </div>
        <div class="content-two">
            <div class="content-details">
                <div class="content-item2">
                    <label class="icon-heart"></label>
                    <h4>Ingresos</h4><br>
                    <p>En esta seccion tu podras agregar todos tus ingresos en cualquier momento, el monto que tu quieras y en la moneda que quieras.</p>
                    
                </div>
                <div class="content-item2">
                    <label class="icon-laptop"></label>
                    <h4>Egresos</h4><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ut nulla dicta, ab doloremque consequatur harum mollitia, ipsam minus magnam quaerat praesentium ratione, amet aperiam incidunt. Iste porro molestiae non.</p>
                    
                </div>
                <div class="content-item2">
                    <label class="icon-support"></label>
                    <h4>Control Estadistico</h4><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ut nulla dicta, ab doloremque consequatur harum mollitia, ipsam minus magnam quaerat praesentium ratione, amet aperiam incidunt. Iste porro molestiae non.</p>
                    
                </div>
            </div>
        </div>
        <div class="content-three">
            <div class="content-module">
                <h3>Ultimas estadisticas</h3>
                <img src="ChartGo.jpg">
                <img src="images/img3.png">
                <img src="images/img4.png">
            </div>
        </div>
        <div class="content-for">
            <div class="content-item3">
                <h4>Nosotros podemos ayudarte</h4>
                <p>Lograremos que administres tus gastos de la mejor manera, así tendras una buena gestión económica.</p>
                <img src="images/img5.png">
            </div>
            <div class="content-five">
                <div class="content-item4">
                    <h4>Esto es WALLET</h4>
                    <p>Gracias por visitarnos pronto la ultima version del sitio.</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <label class="icon-twitter"></label>
        <label class="icon-facebook"></label>
        <label class="icon-instagram"></label>
    </footer>