<div class="loginbox">
    <img class="avatar">
        <h1>Registrese</h1>
        <form>
            <p>Correo</p>
            <input type="text" name="" placeholder="Ingrese correo">
            <p>Usuario</p>
            <input type="text" name="" placeholder="Ingrese usuario">
            <p>Contraseña</p>
            <input type="password" name="" placeholder="Ingrese contraseña">
            <p>Contraseña</p>
            <input type="password" name="" placeholder="Confirme contraseña">
            <input type="submit" name="" value="Registrarse">
            <a routerLink="/login">Ya tiene una cuenta?</a>
        </form>
        
    </div>
